<h1>Welcome home</h1>

<% current_time = Time.now %>
<p>The time right now is <%= current_time %></p>

<!-- <a href="/contact">Contact Us</a> -->
<%= link_to("Contact us", contact_path) %>
<!-- link_to "WHAT IS SHOULD SAY", WHERE IT SHOULD GO -->
<!-- contact_path = "/contact" -->